* {
    margin: 0;
    padding: 0;
    font-size: 'Gilroy';
    box-sizing: border-box;
  }
  
  .product {
    background-color: rgb(102, 84, 46);
    width: 35vw;
    padding: 0.1rem;
    border-radius: 0.45rem;
    margin: 0 auto;
  }
  
  .ProductItem {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    padding: 0.5vw;
    align-items: center;
    background-color: royalblue;
    border-radius: 0.5rem;
  }
  .date {
    border-radius: 0.5rem;
    background-color: #333;
    width: 9vw;
    padding: 0.51rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.2rem;
  }
  .ProductItem h2 {
    color: gold;
  }
  .date div:nth-child(1) {
    font-size: 0.7rem;
  }
  
  .date div:nth-child(2) {
    font-size: 0.5rem;
  }
  .date div:nth-child(3) {
    font-size: 1.4rem;
  }
  
  .form {
    text-align: center;
    margin: .5rem 0;
    padding: 1rem;
  }
  
  .form div{
    margin: .2rem;
  }