* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
}

#main {
    overflow: hidden;
}

#page1,
#page2,
#page3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: 100%;
}

/* **********   navbar   *********** */
nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    padding: 1rem 8rem;
    height: 9vh;
    color: white;
    background-color: black;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 10;


    button {
        color: white;
        border-radius: 3rem;
        background-color: rgb(76, 133, 50);
        padding: .7rem 1rem;
        display: flex;
        gap: 1rem;
    }

    h1 {
        text-transform: uppercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

nav .nav_part2 {
    text-transform: uppercase;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    padding: 3vh 0;
    height: 12vh;
    cursor: pointer;
    position: relative;
    z-index: 12;

    h4 {
        font-weight: 700;
        font-size: .6rem;
    }

    h5 {
        font-size: .57rem;
        font-weight: 400;
        margin-top: 1.6vw;
        display: none;
        overflow: hidden;

        span {
            transform: translateY(20vw);
            display: inline-block;
        }
    }
}

.nav_part3 {
    border-bottom: 1px solid white;
    width: 81%;
    height: 0vh;
    /* height: 19vh; */
    display: block;
    background-color: black;
    top: 100%;
    position: absolute;
    z-index: 9;
}


/* ******************** Page 1 ******************** */
#page1 {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    align-items: center;
    font-weight: 700;
    font-size: 4.25vw;
    position: relative;

    h1 {
        text-transform: uppercase;
        line-height: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            background-color: rgb(76, 133, 50);
            font-size: 1.25vw;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 5.23vw;
            height: 5.23vw;
        }
    }

    .desc {
        margin-top: 3.8vw;
        text-align: center;
    }

    .page1_something {
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        column-gap: .5rem;
    }

    .page1_something h4 {
        box-shadow: .1rem .11rem .3rem rgba(230, 228, 228, 0.178);
        font-weight: 150;
        border: 1px solid #585757;
        border-radius: 2rem;
        padding: .2rem .4rem;
        font-size: 1.21vw;
    }

    h4:nth-child(3) {
        border: none;
        box-shadow: none;
    }

    h3 {
        text-transform: none;
        font-weight: 200;
        font-size: 1.21vw;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .pen {
        animation: scalling 1.5s linear infinite alternate;
    }
}

@keyframes scalling {
    0% {
        scale: .81;
    }

    100% {
        scale: 1;
    }
}

#moving_div {
    position: absolute;
    bottom: 3%;
    width: 44%;
    margin-top: 10vw;
    overflow: hidden;
    white-space: nowrap;
    transition: all .6s linear;

    #move {
        transition: all .6s linear;
        display: inline-block;
        animation: infinite_scroll 12s linear 0s infinite forwards;
    }

    img {
        height: 2vw;
        margin: 0 1vw;
    }

    .move_left {
        height: 100%;
        width: 20%;
        position: absolute;
        top: 0%;
        left: 0%;
        background: linear-gradient(to right, #000, transparent);
        z-index: 2;
    }

    .move_right {
        z-index: 2;
        height: 100%;
        width: 20%;
        position: absolute;
        top: 0%;
        right: 0%;
        background: linear-gradient(to right, transparent, #000);
    }
}

@keyframes infinite_scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}


/* ******************** Page 2 ******************** */
#page2 {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 10vw;
    padding-bottom: 8vw;
    border-top: 1px solid #ccc;

    .page2_left {
        height: 100%;
        width: 40%;
        color: #ccc;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;

        div {
            font-weight: 400;
            font-size: 1.1vw;
        }

        p:last-child {
            font-size: 1.3vw;
            width: 75%;
        }

    }

    .page2_right {
        /* background-color: rebeccapurple; */
        height: 100%;
        width: 50%;
        color: white;


        .right_ele {
            display: flex;
            position: relative;
            padding-top: 2vw;
            padding-bottom: 5vw;
            cursor: pointer;
            border-bottom: 1px solid #333;

            img {
                height: 7vw;
                width: 7vw;
                border-radius: 50%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                scale: 0;

            }

            div {
                font-size: .81rem;
                align-items: center;
                display: flex;
                gap: 1rem;
                color: gray;

                i {
                    color: #fff;
                    rotate: 45deg;
                }
            }

            h3 {
                width: 75%;
                font-weight: 200;
            }

        }
    }
}


/* ******************** Page 3 ******************** */
#page3 {
    background-image: url('./Images/video.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .page3_center {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
        color: white;
        background-color: rgb(113, 199, 74);
        height: 8vw;
        width: 8vw;
        border-radius: 50%;
        cursor: pointer;
    }

    h5 {
        margin: 1rem 0rem;
        font-weight: 200;
        text-transform: uppercase;
        font-size: .9vw;
        padding: .3rem 1rem;
        border-radius: 1rem;
        transition: all ease .5s;
        transform: translateY(10%);
        opacity: 0;
        background-color: rgb(113, 199, 74);
    }

    video {
        width: 100vw;
        height: 100vh;
        position: absolute;
        object-fit: cover;
        transform: scaleX(0.7) scaleY(0);
        border-radius: 2rem;
        /* transition: all ease 1s; */
        opacity: 0;
        z-index: 100;
    }

    .page3_center:hover h5 {
        opacity: 1;
        transform: translateY(0%);
    }
}


/* ******************** Page 4 ******************** */
#page4 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-bottom: 13vh;

    .section {
        width: 100%;
        height: 76vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 17vh 10vw;
        padding-bottom: 0;

        .left {
            height: 100%;
            width: 25%;
            border-top: .2rem solid black;
            display: flex;
            padding-top: 1.4rem;

            h2 {
                font-weight: 200;
                font-size: 2.2vw;
            }

            flex-direction: column;
            gap: 6vw;
        }

        .right {
            height: 100%;
            width: 70%;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            video {
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                /* opacity: 0; */
                object-fit: cover;
            }
        }
    }
}

/* ******************** Page 5 ******************** */
#page5 {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5vh 10.5vw;

    button {
        padding: .9vw 2.5vw;
        font-weight: 600;
        border-radius: 1rem;
        border: none;
        color: white;
        background-color: #4C8532;
        cursor: pointer;
    }

    #page5_right {
        width: 70%;
        color: white;
        font-family: Arial;

        p {
            font-weight: 100;
            font-size: 2.1vw;

            span {
                display: flex;
                align-items: flex-start;
                font-size: 1vw;
                width: 15vw;
                display: inline-block;
            }
        }

        #page5_content {
            background: red;
            width: 100%;
            margin-top: 5vh;
            padding: 5vh 0;
            border-top: .12rem solid #fff;

            .uiux {
                h1 {
                    font-size: 3vw;
                }

                #flex {
                    display: flex;
                    gap: 0.2rem;
                    margin-top: 5vh;

                    h4 {
                        font-size: .85rem;
                        font-weight: 200;
                        padding: .2rem .5rem;
                        border-radius: 3rem;
                        border: .12rem solid #ccc;
                    }
                }
            }
        }
    }
}