* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}
button{
    border-radius: .51rem;
    background-color: royalblue;
    padding: .31rem 1rem;
}